*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.box_sec1{
	
}
.container{
	width:1170px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
/* section 1 start */
.flex_container1{
	border:2px solid #ecf0f1;
	padding:50px;
	display:flex;
	margin:20px 0px;
}
.box_1{
	display:flex;
	border-radius:5px;
	overflow:hidden;
}
.box_1 a{
	text-decoration:none;
	
}
.left{
	background-color:#e74c3c;
	color:white;
	padding: 20px 30px;
}
.middle{
	background-color:#f1c40f;
	color:black;
	padding: 20px 30px;
}
.right{
	background-color:#2ecc71;
	color:white;
	padding: 20px 30px;
}
/* section 1 end */
/* section 2 start */

.flex_container2{
	border:2px solid #ecf0f1;
	padding:50px;
	margin:20px 0px;
}
.btn_1{
	padding:20px 40px;
	background-color:#3498db;
	color:white;
	border:none;
	border-radius:5px;
	font-size:20px;
	position:relative;
	z-index:1;

}
.btn_2{
	background-color:#e74c3c;
	color:white;
    border: none;
    padding: 3px 6px;
    border-radius: 20px;
	position:absolute;
	z-index:2;
	margin-top: -10px;
    margin-left: -20px;

}
.btn_1 a{
	text-decoration:none;
	color:white;
}

/* section 2 end */

/* section 3 start */

.flex_container3{
	border:2px solid #ecf0f1;
	padding:50px;
	margin:20px 0px;
}
.btn_blue{
	padding:20px 40px;
	background-color:#3498db;
	color:white;
	border:none;
	border-radius:5px;
	font-size:20px;
	position:relative;
	z-index:1;
}
.btn_red{
	background-color:#e74c3c;
	color:white;
    border:2px solid white;
    padding: 10px 10px;
    border-radius: 50%;
	position:absolute;
	z-index:2;
	margin-top: -10px;
    margin-left: -15px;
}
.btn_blue a{
	text-decoration:none;
	color:white;
}
/* section 3 end  */